{% extends 'base.html.twig' %}

{% block title %} Ajoutez un Stagiaire {% endblock %}

{% block body %}
    <h2>Stagiaire Create</h2>
    {{form_start(form)}}
      {{form_widget(form)}}
      <input type="submit" value="Ajouter Stagiaire" class="btn btn-primary btn-block" formnovalidate>
    {{form_end(form)}}
{% endblock %}
