<nav class="navbar navbar-expand-md navbar-light bg-light rounded mb-5">
  <div class="container">
    <a class="navbar-brand" href="/">Formalive</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExample09">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{{path('app_stagiaires_create')}} ">Ajouter un Stagiaire <span class="sr-only">(current)</span></a>
        </li>
      </ul>
  </div>
</nav>